services:
  caddy:
    image: caddy:2-alpine
    restart: unless-stopped
    ports:
      - '80:80'
    environment:
      - CADDY_ENV=development
      - TZ=${APP_TZ}
      - BACKEND_HOST=${BACKEND_HOST}
      - BACKEND_PORT=${BACKEND_PORT}
      - FRONTEND_HOST=${FRONTEND_HOST}
      - FRONTEND_PORT=${FRONTEND_PORT}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend
      - frontend
    networks:
      - internal

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
      target: development
    restart: unless-stopped
    environment:
      - NODE_ENV=development
      - TZ=${APP_TZ}
      - BACKEND_PORT=${BACKEND_PORT}
      - POSTGRES_URL=${POSTGRES_URL}
      - REDIS_URL=${REDIS_URL}
    volumes:
      - ./backend:/app/backend
      - /app/backend/node_modules
    depends_on:
      - redis
      - postgres
    networks:
      - internal

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      target: development
    restart: unless-stopped
    environment:
      - NODE_ENV=development
      - TZ=${APP_TZ}
      - WATCHPACK_POLLING=true
    volumes:
      - ./frontend:/app/frontend
      - /app/frontend/node_modules
    depends_on:
      - backend
    networks:
      - internal

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    environment:
      - TZ=${REDIS_TZ}
    volumes:
      - redis_data:/data
    networks:
      - internal

  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      - TZ=${POSTGRES_TZ}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal

volumes:
  redis_data:
  postgres_data:
  caddy_data:
  caddy_config:

networks:
  internal:
    driver: bridge
