/* css soft reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#flexbox-container {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  max-width: 960px;
  margin: 0 auto;
  column-gap: 16px;
  row-gap: 16px;
  /* gap: 32px; */
  flex-wrap: wrap;
}

.box {
  background-color: cadetblue;
  padding: 16px;
  width: 400px;
}
